@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(80deg,rgb(15, 15, 15),rgb(46, 43, 43))
}
.calculator{
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 4px 6px grey;
    background:linear-gradient(45deg,rgb(109, 97, 97),rgb(2, 2, 2));
}
input{
    padding: 24px;
    margin: 10px;
    border: none;
    background: transparent;
    text-align: right;
    box-shadow: 2px 4px 6px grey;
    font-size: 30px;
    cursor: pointer;
}
button{
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color: white;
    font-size: 20px;
     box-shadow: 2px 4px 6px grey;
     cursor: pointer;
}
.equals{
    background-color: rgb(224, 150, 11);
}
.operators{
    background-color: rgb(12, 116, 116);
}
.clear{
     color:rgb(17, 211, 17)
}